{% extends "AppBundle::layout.html.twig" %}

{% block content %}
	<section id="formIdea">
        {{ form_start(form, {'attr': {'class': 'body-form'}}) }}

            {{ form_label(form.title, "Title") }}
            {{ form_widget(form.title, {'attr': {'class': 'input'}}) }}

            {{ form_label(form.author, "Author") }}
            {{ form_widget(form.author, {'attr': {'class': 'input'}}) }}

            {{ form_label(form.description, "Description") }}
            {{ form_widget(form.description, {'attr': {'class': 'input'}}) }}
           
            <div class="submit-form">
                <button type="reset" class="button cancel">Annuler</button>
                {{ form_widget(form.submit, {'attr': {'class': 'valid'}}) }}
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}